.container {
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
    background-color: var(--purple-primary);
    padding-left: 1rem; padding-right: 1rem;
    gap: 0.75rem;
}
.spread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}