.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  align-items: center;
  justify-items: center;
  position: relative;
  max-width: 100%;
}
.loadButton {
  border: 2px solid var(--purple-primary);
  border-radius: 1000px;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--purple-primary);
  max-width: max-content;
  margin-top: 1rem;
  background-color: var(--white);
  font-weight: 500;
  grid-column-start: 0;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  max-height: 2.5rem;
  transition: 0.25s;
}
.service {
  width: inherit;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.imageAdderContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
}
.errorMsg {
  color: var(--pink);
  font-weight: 500;
}

.imageAdderContainer label, .imageAdderContainer input {
  max-width: max-content;
}
.textarea {
  resize: none;
}

@media (hover: hover){
  .container button:hover {
    background-color: var(--purple-primary);
    color: var(--white);
  }
}
@media (max-width: 500px){
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .container{
    grid-template-columns: repeat(2, 1fr);
  }
  .loadButton {
    grid-column: 1/3;
  }
}