.container {
  display: flex;
  flex-direction: column;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: inherit;
  padding: 0.25rem;
}
.inputContainer:nth-child(even){
  background-color: var(--purple-pale);
}